/* Повторяющиеся */
html {
	scroll-padding-top: 60px;
	overflow-x: hidden;
}
.o-text-brown {
	color: var(--text-brown-color);
}
.o-text-green {
	color: #81d31a;
	text-shadow: 0 0 10px #000;
}
.btn-gradient {
	background: rgb(21,84,110);
	background: linear-gradient(90deg, rgba(21,84,110,1) 0%, rgba(39,143,174,1) 100%);
	border-radius: 10px;
	border: 1px solid transparent;
	text-shadow: 0 0 10px #000;
}
body {
	background: rgb(163,215,251);
	background: linear-gradient(90deg, rgba(163,215,251,1) 0%, rgba(255,255,255,1) 50%, rgba(163,215,251,1) 100%);
	font-family: var(--font-circle) !important;
	overflow-x: hidden;
}
section:not(:first-child) {
	margin: 50px 0;
}
.btn:not(.btn-outline-dark) {
	border-width: 0 !important;
}
.box-shadow {
	box-shadow: 0 0 30px #000;
}



/* header */

.brand-text {
	text-transform: uppercase;
	color: var(--text-blue-color);
	font-family: var(--font-circle);
}
.brand-title {
	line-height: 16px;
	font-size: 14px;
	font-weight: 800;
}
.brand-subtitle {
	line-height: 12px;
	font-size: 8px;
	font-weight: 700;
}
.navbar-call {
	a {
		font-family: var(--font-circle);
		font-weight: 700;
		font-size: 24px;
		line-height: 1.55;
	}
}
.header .btn-gradient {
	font-size: 16px;
}
.o-header__logo-text {
	font-size: 1.15em !important;
	@media (min-width: 1200px) {
		& {
			font-size: 1.18em !important;
		}
	}
}


/* head */
.head {
	background: url('../img/head/headbg.webp') 0 0/cover no-repeat; 
	min-height: 100vh;
	&::before {
		content: "";
		display: block;
		position: absolute;
		width: 100%;
		min-height: 100vh;
		top: 0;
		left: 0;
		background-color: rgba($color: #000000, $alpha: .3);
	}
	.container.container2 {
		min-height: 100vh;
		padding: 0 !important;
		z-index: 1;
		position: relative;
		@media (min-width:576px) {
			& {
				padding-right: calc(var(--bs-gutter-x) * .5) !important;
				padding-left: calc(var(--bs-gutter-x) * .5) !important;
			}
		}
	}
	@media (min-width: 992px) {
		& {
			padding-top: 100px;
		}
	}

		text-shadow: 0 0 10px #000;

}
.o-head__bg {
	background: rgba($color: #fff, $alpha: .2);
}
.o-picture__bg {
	background: rgba($color: #000, $alpha: .2);
}
.o-head__shadow {
	text-shadow: 0 0 1px #000;
}
.o-head__span {
	color: orangered;
}
.o-head__list p {
	text-shadow: 0 0 10px #000;
	svg {
		width: 15px;
		height: 15px;
		margin: 0 10px 0 0;
		transform: scale(1.7);
	}

}
.head__title {
	font-size: 37px;
	@media (min-width:768px) {
		& {
			font-size: 32px;
		}
	}
	@media (min-width:992px) {
		& {
			font-size: 39px;
		}
	}
	@media (min-width:1200px) {
		& {
			font-size: 45px;
		}
	}
}
.head__info {
	font-size: 20px;
	@media (min-width:1200px) {
		& {
			font-size: 24px;
		}
	}	
}
.head__presentation-text {
	font-size: 13px;
	line-height: 17px;
	opacity: .4;
	@media (min-width:768px) {
		& {
			font-size: 17px;
			line-height: 21px;
		}
	}	
}

.head__persent {
	font-size: 22px;
	background-image: var(--bg-blue-gradient);
	border-radius: 50%;
	min-width: 64px;
	height: 64px;
	z-index: 2;
	@media (min-width:768px) {
		& {
			font-size: 30px;
			min-width: 100px;
			height: 100px;
		}
	}	
}
.head__availability {
	height: 80%;
	margin: auto 0;
	background-color: #f09409;
	border-top-right-radius: 30px;
	border-bottom-right-radius: 30px;
	position: relative;
	left: -13px;
	font-size: 21px;
	@media (min-width:768px) {
		& {
			height: 65%;
			font-size: 33px;
		}
	}	
}
.head .btn-gradient, .more .btn-gradient {
	font-size: 20px;
}
.btn.o-head__btn {
	border-radius: 30px;
	&:hover {
		span,i {
			color: #fff;
		}
	}
}
.o-head-preview {
	@media (min-width:992px) {
		& {
			position: absolute;
			top: 47%;
			left: 30%;
			z-index: 2;
		}
	}
	@media (min-width:1200px) {
		& {
			top: 45%;
		}
	}
}
.o-head-bg__text, .o-head__bid, .o-head__logo {
	z-index: 2;
}
.o-head__bid {
	top: 35%;
}
.o-head__logo {
	max-width: 150px;
	max-height: 150px;
}
.o-head__arrow {
	bottom: 50%;
	right: 0;
	z-index: 1;
	transform: translate(30%, 0) scale(-1, 1) rotate(120deg);
	@media (min-width: 576px) {
		& {
			transform: translate(0) scale(-1, 1) rotate(120deg);
		}
	}
	@media (min-width: 768px) {
		& {
			transform: translate(50%, 0) scale(-1, 1) rotate(120deg);
		}
	}
	@media (min-width: 992px) {
		& {
			transform: translate(70%, 0) scale(-1, 1) rotate(120deg);
		}
	}
}
.o-head__bid .head__availability {
	background-image: var(--bg-blue-gradient);
}
img.head__bg-picture {

	transition: all 0.8s ease 0s;
	transform: translate(-30%, 0) scale(0);
	&:hover {
		transform: translate(-30%, 0) scale(1.1);
	}
	@media (min-width:992px) {
		& {
			max-width: none;
			transform: translate(-30%, 0);
		}
	}
}

/* presentation */
.presentation-block {
	.container {
		background-color: rgba($color: #fff, $alpha: .7);
	}
}
.o-pr-presentation__btn {
	@media (min-width: 425px) {
		margin: 0 auto;
		width: 75% !important;
	} 
	@media (min-width: 992px)  {
		margin: 0;
	}
}
.o-pr-presentation__arrow {
	right: 0;
	bottom: 50%;
	transform: scale(.8) rotate(-110deg);
	@media (min-width: 375px) {
		& {
			right: 20%;
			bottom: 40%;
		}
	}
	@media (min-width: 425px) {
		& {
			right: 0;
		}
	}
	@media (min-width: 465px) {
		& {
			right: 10%;
		}
	}
	@media (min-width: 540px) {
		& {
			right: 20%;
		}
	}

	@media (min-width: 768px) {
		& {
			left: -90px;
			bottom:-20px;
			transform: scale(.8) rotate(90deg);
		}
	}

	@media (min-width: 992px) {
		& {
			left: -90px;
			bottom: 30%;
			transform: scale(.8) rotate(0);
		}
	}
}

/* swiperOne */
.carouselOne {
	height: auto;
	overflow: hidden;
	background-color: #fff;
	@media (min-width:768px) {
		& {
			min-height: 100vh;
		}
	}
	.swiper-container {
		width: 100%;
		height: 100%;
		overflow:hidden;
	}
	.swiper-slide {
		text-align: center;
		font-size: 18px;
		
		/* Center slide text vertically */
		display: -webkit-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		-webkit-justify-content: center;
		justify-content: center;
		-webkit-box-align: center;
		-ms-flex-align: center;
		-webkit-align-items: center;
		align-items: center;
	}
	.swiper-button-prev, .swiper-button-next {
		overflow: hidden;
		background-color: rgba(0,121,140,1);
		width: 24px;
		height: 24px;
		border-radius: 50%;
		color: #fff;
		&::after {
			font-size: 15px;
			@media (min-width:576px) {
				& {
					font-size: 20px;
				}
			}
			@media (min-width:768px) {
				& {
					font-size: 25px;
				}
			}
		}
		@media (min-width:576px) {
			& {
				width: 40px;
				height: 40px;
			}
		}
	}
}



/* about */
.o-repeat__text {
	line-height: 30px;
	font-size: 18px;
	@media (min-width:576px) {
		& {
			font-size: 20px;
			line-height: 33px;
		}
	}
	@media (min-width:768px) {
		& {
			font-size: 22px;
			line-height: 36px;
		}
	}
	@media (min-width:992px) {
		& {
			font-size: 20px;
			line-height: 33px;
		}
	}
	@media (min-width:1200px) {
		& {
			font-size: 24px;
			line-height: 40px;
		}
	}
}
.o-about__img-container, .o-about__img-container2 {
	overflow-x: hidden;
}

.o-about__img {
	height: 100%;
	width: 100%;
	max-height: 463px;
	@media (min-width:768px) {
		& {
			width: auto;
		}
	}
}
.o-about__subinfo, .o-about__info {
	font-size: 24px;
	line-height: 37px;
}
.o-about-text {
	line-height: 30px;
	font-size: 18px;
	@media (min-width:576px) {
		& {
			font-size: 20px;
			line-height: 33px;
		}
	}
	@media (min-width:768px) {
		& {
			font-size: 22px;
			line-height: 36px;
		}
	}
	@media (min-width:992px) {
		& {
			font-size: 20px;
			line-height: 33px;
		}
	}
	@media (min-width:1200px) {
		& {
			font-size: 24px;
			line-height: 40px;
		}
	}
}


/* more */
.o-more__arrow {
	right: 0px;
	top: 15%;
	transform:rotate(-15deg);
}
.more.contacts {
	.o-more__arrow {
		@media (min-width:992px) {
			& {
				top: 5%;
				transform:rotate(-5deg);
			}
		}
	}
}
.o-more__info {
	background-color: #729fcf;
	border: 15px solid #fff !important;
	border-radius: 25px 0;
	box-shadow: 0 0 2px #000;
}


/* infoButton */
.o-rep__infoButton {
	z-index: 2;
	min-width: 80px;
	min-height: 80px;	
	left: calc(50% - 40px);
	border-radius: 50%;
	font-size: 25px;
	color: var(--text-blue-color);
	border: 1px solid var(--text-blue-color);
	animation-name: info;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-timing-function: ease;
}
@keyframes info {
	from {
		transform: scale(1, 1);
	}
	to {
		transform: scale(1.1, 1.1);
	}
}

/* picture */
section.picture {
	margin: 0px 0;
	padding: 80px 0;
	img {
		min-height: 760px;
		object-fit: cover;
	}
}
.o-picture__text {
	bottom:  20px;
	@media (min-width: 576px) {
		bottom: 60px;
	}
}

/* layouts */
.o-layouts__cart {
	min-height: 100%;
}
.o-layouts__title {
	font-size: 35px;
	@media (min-width:576px) {
		& {
			font-size: 40px;
		}
	}
	@media (min-width:768px) {
		& {
			font-size: 45px;
		}
	}
	@media (min-width:992px) {
		& {
			font-size: 50px;
		}
	}
}


/* excursion */
.o-excursion__block {
	min-height: 750px;
}
.o-excursion__text {
	background: rgb(1,98,122);
	background: radial-gradient(circle, rgba(1,98,122,1) 0%, rgba(1,98,122,1) 50%, rgba(1,98,122,0) 100%);
	background-position: center center;
   border-color: transparent;
}

/* safety */
.o-safety__img {
	@media (min-width:768px) {
		object-fit: cover;
		object-position: center;
	}
}
.o-safety__maxheight {
	max-height: auto;
	@media (min-width: 768px) {
		& {
			max-height: 463px;
		}
	}
}
.o-safety__dopimg {
	max-width: 180px;
	z-index: 2;
	right: 20px;
	top: 10px;
	@media (min-width:768px) {
		max-width: 260px;
		top: 0;
		left: 0;
		transform: translate(-100px, -10px);
	}
}
.o-safety__dopimg2 {
	width: 83px;
	@media (min-width:768px) {
		width: 35%;
	}
}
.safety .o-about__img {
	min-height: 340px;
}

/* progress */
.progress-construction {
	.o-progress__swiper {
		height: 100%;
	}
	.o-progress__img-wrapper {
		width: 100%;
		height: 100%;
		overflow: hidden;
		img {
			max-width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center bottom;
		}
	}
	.swiper-pagination-bullet {
		opacity: .8;
		background: transparent;
		border: 1px solid #fff;
	}
	.swiper-pagination-bullet-active {
		background: #fff;
	}
}



/* documents */
.o-documents__title {
	line-height: 34px;
	font-size: 22px;
	@media (min-width:576px) {
		font-size: 24px;
	}
	@media (min-width:768px) {
		font-size: 25px;
	}
	@media (min-width:992px) {
		font-size: 30px;
	}
	@media (min-width:1200px) {
		font-size: 32px;
	}
}
.o-doc__title, .o-doc__value {
	line-height: 25px;
	font-size: 16px;
	@media (min-width:768px) {
		font-size: 18px;
	}
}

/* modals */
.c-btn__closemodal {
	top: 10px;
	right: 10px;
	z-index: 10000;
}
.c-presentation__text {
	color: #8c7342;
}
.c-presentation-modal__img {
	transform: rotate(6deg);
}
#presentation {
	.order-lg-1 {
		max-height: 250px;
		img {
			max-height: 100%;
			object-fit: contain;
		}
	}
	@media (min-width:992px) {
		.order-lg-1 {
			max-height: none;
		}
	}
}
.modal.c-presentation-modal__img-layout {
	.c-presentation-modal__img {
		transform: rotate(0);
	}
}
.modal.c-presentation-modal__img-call {
	.c-presentation-modal__img {
		transform: rotate(0);
	}
}
.c-presentation__modal-btn {
	background: var(--text-blue-color);
	&:hover, &:focus, &:active {
		background: var(--text-blue-color) !important;
	}
}


/* modalCarousel */
.o-modal-carousel__container {
	width: 100%;
	height: 100%;
	overflow: hidden;
	.swiper-slide {
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}


.o-img-fill {
	width: 100% !important;
	@media (max-width: 1200px) {
		& {
			width: auto !important;
		}
	}
}

button.btn.o-btn-border {
	border: 5px solid black !important;
	border-radius: 20px 0;
}

.o-modal__bg {
	background: url('../img/66.webp') 0 0/cover no-repeat;
	
}
.o-modal__text {
	background-color: rgba($color: #fff,  $alpha: .8);
}

.o-btn__absolute {
	bottom: 20px;
	right: 40px;
	z-index: 999;
}

.o-modal__btn-close {
	fill: #fff !important;
	opacity: 1 !important;
}

.anim__item {
	transform: translate(-100%);
	opacity: 0;
	transition: all 0.8s ease 0s;
	&._active {
		transform: translate(0);
		opacity: 1;
	}
}